.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30rem;

  margin: auto;
  background-color: var(--blue-dark);
  border-radius: 1rem;
  padding: 2rem;
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 1));
  transition: all 0.3s ease;
}
