.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  min-width: 30rem;
  width: auto;
  max-width: 90%;

  margin: auto;
  background-color: var(--blue-dark);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
}
