.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 70vw;
  margin: auto;
  background: var(--blue-standard);
  box-shadow:
    0 0 1rem var(--blue-standard),
    0 0 3rem var(--blue-dark);
  overflow-y: visible; /* consertar scroll dps*/
}
.nav {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
}

.settingsButton {
  display: flex;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}
.configsvg {
  max-width: 4.4rem;
  margin: auto;
}
