.wrapper {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.poster {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100rem;
  margin: 0 auto;
  width: 55rem;
  height: 80rem;
  background-image: url('/goncha.jpg');
  background-size: cover; /* cobre além do poster original, trocar caso posteres não sejam padronizados */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5rem;
  filter: brightness(90%);
  clip-path: inset(0 round 5rem);
}

/* possivelmente adicionar um botão para estender componente */
.info {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  height: 22rem;
  width: 100%;
  padding: 2rem 4rem 2rem 4rem;
  background-color: var(--blue-standard);
  color: var(--text-default);
}

.cdown {
  margin: 1.5rem;
  width: 2rem;
}
