.wrapper {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.poster {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100rem;
  margin: 0 auto;
  width: 55rem;
  height: 80rem;
  background-image: url('/goncha.jpg');
  background-size: cover; /* stretch to fill width & height exactly */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5rem;
  filter: brightness(90%);
  clip-path: inset(0 round 5rem);
  border: 2px solid var(--blue-dark);
}

.info {
  display: flex;
  margin-bottom: auto;
  height: 20rem;
  width: 100%;
  padding: 2rem;
  justify-content: flex-end;
  background-color: var(--blue-dark);
  color: var(--contrast);
}
