.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.loginForm h2 {
  text-align: center;
  width: 100%;
}

.loginForm h6 {
  text-align: end;
  width: 80%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.signup a {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  cursor: pointer;
  color: var(--contrast);
}

.formInput {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  color: var(--text-default);
  background-color: var(--blue-light);
  border: transparent;
}

.selectedList {
  width: 100%;
  padding: 0;
  margin: 1rem 0 1rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.selectedItem {
  background: var(--blue-light);
  color: var(--text-default);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid var(--blue-dark);
  word-break: break-word;
}

.formButton {
  margin-top: 0.8rem;
  padding: 1rem;
  width: 40%;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--contrast);
}

.formButton:hover {
  filter: brightness(90%);
}

.formButton:active {
  filter: brightness(60%);
}

.error {
  color: var(--error);
  font-size: 1.4rem;
  gap: 0.5rem;
}
